body {
    margin: 0;
    padding: 0;
  }
  
  .layoutWindow {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
  
    display: flex;
    flex-flow: column nowrap;
  }
  
  .layoutWindow > .layoutTabBar {
    flex: none;
  }
  
  .layoutWindow > :not(.layoutTabBar) {
    flex: auto;
    position: relative;
  }
  